{% extends 'main/base.html' %}


{% block title %}Logowanie{% endblock %}

{% block content %}





    <section>
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <h1>
                   Log in please to enjoy <br>
                full feature web app !
                </h1>
                <div class="container" style="width: 400px">

                  <h3 class="info-title">Log in</h3>
<h5>
                  <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    </h5>
                    <button type="submit">Login</button>
                  </form>
                </div>
                <hr>
             </div>
          </div>
          <div class="row margin-top-45">
             <div class="col-md-12">
                <!-- <img class="img-responsive margin-top-45" src="img/5.jpg" alt="me"> -->
             </div>
          </div>
       </div>

    </section>

{% endblock %}
