{% extends "main/base.html" %}
{% load static %}
{% block content %}

</br></br></br></br></br></br></br></br>

    <h1>Authors' Projects</h1>

    <table border="1">
        <tr>
            <th>Username</th>
            <th>Projects</th>
        </tr>
        {% for a in authors %}
            <tr>
                <td>{{a.username}}</td>
                <td>
                    {% for p in a.project_set.all %}
                    <a href="{% url 'main:project_view' p.id %}">{{p.title}}</a>,
                    {% endfor %}
                </td>

            </tr>
        {% endfor %}

    </table>


{% endblock %}
