<!doctype html>

{% load static %}





<html>
    <head><meta charset="utf-8">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'main/css/lightbox.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">


    <title>
        {% block title %}JSart{% endblock %}
    </title>
    </head>

    <body>

      <nav class="navbar navbar-default navbar-fixed-top">
         <div class="col-md-12">
            <div class="nav">
               <button class="btn-nav">
               <span class="icon-bar inverted top"></span>
               <span class="icon-bar inverted middle"></span>
               <span class="icon-bar inverted bottom"></span>
               </button>
            </div>
            <a class="navbar-brand" href="{% url 'main:logout' %}">
            <img class="logo" src="{% static 'main/img/logo.png' %}" alt="logo">
            </a>
            <div class="nav-content hideNav hidden">
               <ul class="nav-list vcenter">
                  <li class="nav-item"><a class="item-anchor" href="{% url 'main:home' %}">Home</a></li>

                  <li class="nav-item"><a class="item-anchor" href="portfolio.html">Portfolio</a></li>
                  <li class="nav-item"><a class="item-anchor" href="about.html">Autors</a></li>
                    <li class="nav-item"><a class="item-anchor" href="{% url 'main:contact' %}">Contests</a></li>
                      <li class="nav-item"><a class="item-anchor" href="{% url 'main:contact' %}">Contact</a></li>
                  <li class="nav-item"><a class="item-anchor" href="{% url 'main:about' %}">About</a></li>

                  {% if request.user.is_authenticated %}
                  <li class="nav-item">

                      
                      <a href="{% url 'main:logout' %}"> Log out </a>  </li>

                  <li class="nav-item"> Logged in : {{ request.user }}</a></li>


                  {% else %}
                  <li class="nav-item">

                      <a href="{% url 'main:login' %}">Log in</a> / <a href="{% url 'main:signup' %}">Sign in</a>
                    </li>

                  {% endif %}</li>




               </ul>
            </div>
         </div>
      </nav>
</li>


        {% block content %}
        {% endblock %}

        <script type "text/javascript">
      function openSesame(){
      window.open("http://color-wander.surge.sh/","_new");
    }
  </script>

        <script src="{% static 'main/js/jquery.js' %}"></script>
        <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'main/js/menu-color.js' %}"></script>
        <script src="{% static 'main/js/modernizr.js' %}"></script>
        <script src="{% static 'main/js/script.js' %}"></script>

  </body>


              <!-- {% if request.user.is_authenticated %} <span class="text-warning"><small>Zalogowany: {{ request.user }} |
                  <a href="{% url 'main:logout' %}"> Wyloguj się</a>
              {% else %}
                  <a href="{% url 'main:login' %}">Logowanie</a> / <a href="{% url 'main:signup' %}">Rejestracja</a>
              {% endif %}
              </small></span> -->


              {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important:
                      {% endif %}
                      {{ message }}
                  </li>
                  {% endfor %}
              </ul>
              {% endif %}
</html>
